<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading" >
      <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="E-mail"  name="email" ngModel #emailInput="ngModel" required email> <!-- email: is a validator provided by angular -->
          <mat-error *ngIf="emailInput.invalid">Please enter a valid e-mail</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" name="password" ngModel #passwordInput="ngModel" required >
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
      </mat-form-field>
        <button mat-raised-button 
                *ngIf="!isLoading"
                color="accent"
                type="submit" >Sign up
        </button>
  </form> 
</mat-card> 